@import "../../helpers/sass/theme.scss";

.cardContainer {
  background: $secondary;
  width: 250px;
  border: 1px solid $primaryBorder;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}
