// Temporary color palette
$bigStone: #172237;
$greenAmazon: #317460;
$greyCuttySark: #577E7D;
$opal: #ACC7C3;
$ebb: #EBE1E3;
$white: #ffffff;
$black: #000000;

// Theme
$primary: $bigStone;
$primaryContrast: $ebb;
$standard: $black;
$standardBackground: $white;