@import "./variables.scss";

// Theme
$primary: $bigStone;
$primaryContrast: $aliceBlue;
$primaryGradient1: $regalBlue;
$primaryGradient2: $blueLagoon;
$secondary: $dodgerBlue;
$standard: $black;
$standardBackground: $white;
$primaryBorder: $greyCuttySark;