// Color Stack - comes from http://chir.ag/projects/name-that-color/
$bigStone: #172237;
$regalBlue: #004C69;
$blueLagoon: #007C8A;
$greenHarlequin: #33FF00;
$silverTree: #66B58F;
$greyCuttySark: #577E7D;
$dodgerBlue: #3D91F9;
$oxfordBlue: #3E485F;
$greySilverSand: #C6CACA;
$opal: #ACC7C3;
$aliceBlue: #F3F9FF;
$white: #ffffff;
$black: #000000;

// Brands
$linkedInBlue: #0077B5;

// Responsive
// From https://material-ui.com/customization/breakpoints/
$desktop-port: 960px;