// Color Stack - comes from http://chir.ag/projects/name-that-color/
$bigStone: #172237;
$greenAmazon: #317460;
$greenHarlequin: #33FF00;
$greyCuttySark: #577E7D;
$greySilverSand: #C6CACA;
$opal: #ACC7C3;
$ebb: #EBE1E3;
$white: #ffffff;
$black: #000000;
