@import "../../helpers/sass/theme.scss";

.cardContainer {
  max-width: 350px;
  margin: 0 20px 40px;
  img {
    width: 300px;
    border: 1px solid $primaryBorder;
    border-radius: 4px;
  }
}

.cardTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
