@import "../../helpers/sass/theme.scss";

.headerContainer {
  background: $primary;
  // width: 100vw;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: $primaryContrast;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}