@import "../../helpers/sass/theme.scss";
@import "../../helpers/sass/variables.scss";
@import "../../helpers/sass/mixins.scss";

.formContainer {
  @include mobile {
    margin: 0 7vw 4vh;
  }
  margin: 0 7vw;
  border: 1px solid $greySilverSand;
  padding: 5vh 10px 5vh 20px;
  border-radius: 10px;

  button {
    cursor: pointer;
    background-color: $primaryGradient2;
    border: 2px solid $primaryGradient2;
    color: $standardBackground;
    padding: 10px 40px;
    border-radius: 4px;
    margin-top: 20px;
  }
}

.title {
  display: none;
}

.field {
  width: 100%;
  display: flex;

  label {
    flex-grow: 0;
    margin-right: 10px;
  }

  textarea,
  input {
    flex-grow: 1;
    margin-right: 10px;
  }

  input,
  textarea {
    border: 2px solid $standard;
    border-radius: 4px;
    padding: 5px;
    &:focus,
    &:hover {
      border: 2px solid $primaryBorder;
    }
  }

  
}

.fieldWrapper {
  @include mobile {
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
}
