@import '../../helpers/sass/theme.scss';
@import '../../helpers/sass/variables.scss';

.footerContainer {
  background-color: $oxfordBlue;
  padding: 0 30px;
}

.footerWrapper {
  background-color: $primary;
  color: $primaryContrast;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a,
  i {
    color: $primaryContrast;
    font-size: 23px;
    margin: 5px 10px;
  }
}

.footerTitle {
  font-size: 25px;
}
