@import './helpers/sass/theme.scss';
@import './helpers/sass/variables.scss';

.helloWorld {
  background-color: $standard;
  color: $greenHarlequin;
  font-family: 'Inconsolata', monospace;
  position: relative;
  width: 6.5em;
  margin: 0 75px 0 auto;
  border-right: 2px solid $greenHarlequin;
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.helloImage {
  background-image: url('../static/images/computer-1209641_1280.jpg');
  height: 91vh;
  display: flex;
  justify-content: flex-end;
  // margin-bottom: -21px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oldComputer {
  width: 55em;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255,0,0,0), $black 70%);
}

.animTyping {
  animation: typewriter 4s steps(13) 1s 1 normal both,
    blinkTextCursor 800ms steps(13) infinite normal;
}

@keyframes typewriter {
  from{width: 0;}
  to{width: 6.5em;}
}

@keyframes blinkTextCursor {
  from{border-right-color: $greenHarlequin;}
  to{border-right-color: transparent;}
}

.presentationSection {
  background-color: $greenAmazon;
  padding: 40px;
  height: 200px;
}

.presentationTitle {
  color: $primaryContrast;
}
