@import './helpers/sass/theme.scss';
@import './helpers/sass/variables.scss';
@import './helpers/sass/mixins.scss';

// Index
.helloWorld {
  @include mobile {
    background-color: transparent;
  }
  background-color: $standard;
  color: $silverTree;
  font-family: 'Inconsolata', monospace;
  position: relative;
  width: 6.5em;
  margin: 0 4vw 0 auto;
  border-right: 2px solid $silverTree;
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.helloImage {
  background-image: url('../static/images/computer-1209641_1280.jpg');
  height: calc(100vh - 62px);
  display: flex;
  justify-content: flex-end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oldComputer {
  @include mobile {
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), $black 70%);    
  }
  width: 55em;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255,0,0,0), $black 70%);
}

.animTyping {
  animation: typewriter 4s steps(13) 1s 1 normal both,
    blinkTextCursor 800ms steps(13) infinite normal;
}

@keyframes typewriter {
  from{width: 0;}
  to{width: 6.5em;}
}

@keyframes blinkTextCursor {
  from{border-right-color: $silverTree;}
  to{border-right-color: transparent;}
}

.presentationSection {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;

  img {
    border-radius: 20%;
  }
}

.presentationContact,
.presentationTitle {
  color: $primaryGradient1;
  text-align: center;
}

.presentationContact {
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 40px;
  border-top: 1px solid $primaryBorder;
}

.contactButton {
  cursor: pointer;
  background-color: $primaryGradient2;
  border: 2px solid $primaryGradient2;
  color: $standardBackground;
  padding: 10px 20px;
  border-radius: 4px;
}

// Central idea from https://freefrontend.com/css-arrows/#arrows-down - John Urbank
@mixin arrow-transitions($degree: -50%, $rot: 0deg) {
  transform: translate($degree, -50%) rotateZ($rot);
}

@keyframes hello {
  0% {opacity: .3;}
  25% {opacity: .5;}
  50% {opacity: .8;}
  75% {opacity: 1;}
}

.seeMoreContainer {
  @include mobile {
    top: 78%;
    left: 38%;
  }
  display: block;
  width: 100px;
  height: 100px;  
  position: absolute;
  top: 80%;
  left: 50%;
  @include arrow-transitions(0deg);
  
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &::before {
        @include arrow-transitions(-18%, -30deg);
      }
      
      &::after {
        @include arrow-transitions(-92%, 30deg);
      }
    } 
  }
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease;

  &::before,
  &::after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: $silverTree;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    transform: translate(-33%, -50%) rotateZ(-45deg);
  }

  &:after {
    transform-origin: bottom left;
    transform: translate(-77%, -50%) rotateZ(45deg);
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      opacity: 0.3 * $i;
      top: 15 + (100% * $i/5);
      animation: hello .75s linear infinite;
      animation-delay: $i * 0.25s;
    }
  }
}

.tagCloud {
  width: 40vw;
  margin: 0 30vw;
}
