@import './helpers/sass/theme.scss';
@import './helpers/sass/variables.scss';

// Index
.helloWorld {
  background-color: $standard;
  color: $greenHarlequin;
  font-family: 'Inconsolata', monospace;
  position: relative;
  width: 6.5em;
  margin: 0 4vw 0 auto;
  border-right: 2px solid $greenHarlequin;
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.helloImage {
  background-image: url('../static/images/computer-1209641_1280.jpg');
  height: calc(100vh - 62px);
  display: flex;
  justify-content: flex-end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oldComputer {
  width: 55em;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255,0,0,0), $black 70%);
}

.animTyping {
  animation: typewriter 4s steps(13) 1s 1 normal both,
    blinkTextCursor 800ms steps(13) infinite normal;
}

@keyframes typewriter {
  from{width: 0;}
  to{width: 6.5em;}
}

@keyframes blinkTextCursor {
  from{border-right-color: $greenHarlequin;}
  to{border-right-color: transparent;}
}

.presentationSection {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;

  img {
    border-radius: 20%;
  }
}

.presentationContact,
.presentationTitle {
  color: $primaryGradient1;
  text-align: center;
}

.presentationContact {
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 40px;
  border-top: 1px solid $primaryBorder;
}

.contactButton {
  cursor: pointer;
  background-color: $primaryGradient2;
  border: 2px solid $primaryGradient2;
  color: $standardBackground;
  padding: 10px 20px;
  border-radius: 4px;
}
